body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: none;
    width: 800px;
    margin: 80px auto;
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 20px;
    background: url(../img/background.png) center center no-repeat;
    background-size: cover;
    box-shadow: 0 22px 70px 4px rgb(255, 255, 255);  
  }
  
  h1 {
    text-align: center;
    color: #fafafa;
    font-family: 'Microsoft YaHei', sans-serif;
  }
  
  .game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game-board {
    position: relative;
    width: 400px;
    height: 400px;
  }

  
  .controls {
    text-align: center;
    margin-top: 265px;
    margin-left: 100px;
  }
  
  .join-button {
    background: #FFC107;
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: bold;
    color: #1f1d1d;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .join-button:hover {
    background: #c4c3c3;
  }

  .hide-button {
    background: #cac3c3;
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: bold;
    color: #1f1d1d;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .hide-button:hover {
    background: #cc3e3e;
  }
  
  .player-count {
    background: #FFC107;
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: bold;
    color: #1f1d1d;
    margin-top: 10px;
    font-size: 16px;
    padding: 6px 16px;
    border: none;
    border-radius: 8px;
  }
  
  .count-label {
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #1f1d1d;
  }